# Tarea 1 Bases de Datos 2023-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Rosario Bregante - 202173078-8
* Nicolas Gomez - 202104044-7

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [1]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\kikog\appdata\roaming\python\python310\site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in c:\program files\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\program files\python310\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: prettytable in c:\users\kikog\appdata\roaming\python\python310\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\kikog\appdata\roaming\python\python310\site-packages (from ipython-sql) (2.0.9)
Requirement already satisfied: sqlparse in c:\users\kikog\appdata\roaming\python\python310\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\program files\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\kikog\appdata\roaming\python\python310\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kikog\appdata\roaming\python\python310\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: backcall in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: jedi>=0.16 in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pickleshare in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: pygments>=2.4.0 in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (2.15.0)
Requirement already satisfied: stack-data in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: decorator in c:\program files\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\program files\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\program files\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens>=2.1.0 in c:\program files\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\program files\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\program files\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\kikog\appdata\roaming\python\python310\site-packages (2.9.6)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: names in c:\users\kikog\appdata\roaming\python\python310\site-packages (0.3.0)

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:kiko@localhost:5432/tarea1r

env: DATABASE_URL=postgresql://postgres:kiko@localhost:5432/tarea1r

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea1r',
   password="kiko"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001B1BED868A0; dsn: 'user=postgres password=xxx dbname=tarea1r host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [5]:
%%sql
CREATE TABLE facciones(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);

Done.

[]

### Tabla "trabajos" (6 pts)

In [6]:
%%sql
CREATE TABLE trabajos(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INTEGER NOT NULL,
    PRIMARY KEY(id)
);

 * postgresql://postgres:***@localhost:5432/tarea1r
Done.

[]

### Tabla "personas" (6 pts)

In [7]:
%%sql
CREATE TABLE personas(
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOLEAN NOT NULL,
    conyugue INT,
    PRIMARY KEY (id),
    FOREIGN KEY (conyugue) REFERENCES personas(id)
);

 * postgresql://postgres:***@localhost:5432/tarea1r
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [8]:
%%sql
CREATE TABLE cuentas_bancarias(
    id INT GENERATED ALWAYS AS IDENTITY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT NULL,
    saldo INT NOT NULL,
    id_persona INT,
    PRIMARY KEY (id),
    FOREIGN KEY (id_persona) REFERENCES personas(id)
);

 * postgresql://postgres:***@localhost:5432/tarea1r
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [9]:
%%sql
CREATE TABLE persona_pertenece_faccion (
    id_persona INTEGER,
    id_faccion INTEGER,
    PRIMARY KEY(id_persona, id_faccion),
    FOREIGN KEY(id_persona) REFERENCES personas(id),
    FOREIGN KEY(id_faccion) REFERENCES facciones(id)
);

 * postgresql://postgres:***@localhost:5432/tarea1r
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [10]:
%%sql
CREATE TABLE persona_tiene_trabajo (
    id_persona INTEGER,
    id_trabajo INTEGER,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY(id_persona, id_trabajo),
    FOREIGN KEY(id_persona) REFERENCES personas(id),
    FOREIGN KEY(id_trabajo) REFERENCES trabajos(id)
);

 * postgresql://postgres:***@localhost:5432/tarea1r
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [11]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [105]:
%%sql

/* toma el id de todas las personas que esten relacionadas a un id_faccion = 1 (FEDRA) en la tabla persona_pertenece_faccion y lo compara con el id de la tabla personas, si es igual, lo muestra.
selecciona id, nombre y con splitpart separamos los apellidos */

SELECT id ,nombre, SPLIT_PART(apellidos, ' ', 1) AS apellido 
FROM personas
WHERE id IN (SELECT id_persona 
                  FROM persona_pertenece_faccion 
                  WHERE id_faccion = 1);

 * postgresql://postgres:***@localhost:5432/tarea1r
46 rows affected.

[(9, 'Dennis', 'Bancroft'),
 (51, 'Walter', 'Brennan'),
 (88, 'Carl', 'Whitford'),
 (96, 'Lilly', 'Maher'),
 (122, 'Laura', 'Grim'),
 (67, 'Lawrence', 'Hall'),
 (127, 'Edmond', 'Maltie'),
 (152, 'Judith', 'Brooks'),
 (154, 'Ben', 'Glinski'),
 (194, 'Mary', 'Ohara'),
 (215, 'James', 'Crutchfield'),
 (161, 'Ellen', 'Law'),
 (266, 'Samuel', 'Derego'),
 (286, 'Louise', 'Nolan'),
 (322, 'Nellie', 'Conlin'),
 (329, 'Rosetta', 'Williams'),
 (308, 'Julie', 'Hammond'),
 (417, 'Robert', 'Jones'),
 (433, 'Joy', 'Fowles'),
 (441, 'Ronny', 'Davis'),
 (444, 'John', 'Nowak'),
 (501, 'Brian', 'Powell'),
 (382, 'Kelly', 'Smith'),
 (524, 'Carl', 'Numbers'),
 (576, 'Joseph', 'Michalenko'),
 (602, 'Amber', 'Hudson'),
 (603, 'Amy', 'Bentley'),
 (619, 'Nancy', 'Jenkins'),
 (628, 'Gertrude', 'Garcia'),
 (660, 'Johnny', 'Shelton'),
 (687, 'Justin', 'Rodriguez'),
 (722, 'Michael', 'Stclair'),
 (726, 'Cedric', 'Principato'),
 (754, 'Paul', 'Dowdle'),
 (775, 'Marie', 'Whitehead'),
 (831, 'Olivia', 'Peters'),
 (833, 'Bobby', 'Payne'),
 (875, 'Joseph', 'Brooks'),
 (913, 'Thomas', 'Christian'),
 (930, 'Katie', 'Halfhill'),
 (957, 'Marcelino', 'Snyder'),
 (977, 'Florence', 'Rogers'),
 (980, 'Clarence', 'Epps'),
 (996, 'Octavia', 'Coffey'),
 (999, 'Alice', 'Mcclellan'),
 (941, 'Mary', 'Martin')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [106]:
%%sql

/* se pide que cuente con COUNT la cantidad de ids de la tabla personas que tengan una fecha de nacimiento mayor a 2019-12-01 */

SELECT COUNT(id) FROM personas
WHERE fecha_nacimiento > '2019-12-01';

 * postgresql://postgres:***@localhost:5432/tarea1r
1 rows affected.

[(73,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [113]:
%%sql

/* usamos inner join para juntar la tabla personas y la tabla cuentas bancarias segun el id de la persona para mostrar el saldo total de su cuenta, limitandolos a una cantidad de 20 personas con LIMIT */

SELECT personas.id, personas.nombre, personas.apellidos, cuentas_bancarias.saldo
FROM personas
INNER JOIN cuentas_bancarias
ON personas.id = cuentas_bancarias.id_persona
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/tarea1r
20 rows affected.

[(5, 'Joann', 'Solomon Gogan', 3330),
 (39, 'Cheryl', 'Brumaghim Forker', 2410),
 (44, 'Brenda', 'Jabbie Martinez', 4706),
 (71, 'Laura', 'Bindel Carpenter', 5686),
 (81, 'William', 'Vang Oliveira', 8426),
 (102, 'Jessica', 'Merrifield Pettibone', 7948),
 (105, 'Michael', 'Covarrubias Bonniwell', 5103),
 (109, 'Peggy', 'Deisher Drummond', 7018),
 (124, 'Alice', 'Gabrielson Barrington', 7401),
 (76, 'April', 'Bell Hunter', 3049),
 (138, 'Harold', 'Hunt Bell', 3377),
 (138, 'Harold', 'Hunt Bell', 575),
 (147, 'William', 'Tamburo Rapelyea', 2450),
 (152, 'Judith', 'Brooks Lofty', 1403),
 (153, 'Earlene', 'Boden Valadez', 98),
 (159, 'Larry', 'Cline William', 2680),
 (167, 'Wyatt', 'Hamrick Dent', 3097),
 (173, 'Keith', 'Kauffman Vanderford', 8633),
 (173, 'Keith', 'Kauffman Vanderford', 3603),
 (187, 'Ione', 'Jacobson Hearn', 6004)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [127]:
%%sql

/* realizamos un JOIN multiple desde facciones a persona_tiene_trabajo mediante el id luego un JOIN desde el id_persona con el personas.id para hacer un JOIN con persona_tiene_trabajo con el id de personas.
Con el WHERE ponemos la condicion de que sea hasta la fecha x y su estado sea TRUE (activo) */

SELECT facciones.nombre AS faccion, COUNT(*) AS cantidad
FROM facciones
JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
JOIN persona_tiene_trabajo ON personas.id = persona_tiene_trabajo.id_persona
WHERE persona_tiene_trabajo.ultima_vez_realizado <= '2023-04-04' AND persona_tiene_trabajo.estado = True
GROUP BY facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1r
6 rows affected.

[('JavaScriptia', 9),
 ('Pythonia', 11),
 ('MaCdonia', 4),
 ('FEDRA', 7),
 ('Luciérnagas', 7),
 ('Carroñeros', 10)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [132]:
%%sql

/* cuenta el número de personas infectadas desde la tabla personas con un WHERE y las une con JOIN y el id a las facciones mediante la tabla persona_pertenece_faccion   */

SELECT facciones.nombre AS faccion, COUNT(*) AS infectadxs
FROM facciones 
JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
WHERE personas.infectado = TRUE
GROUP BY facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1r
6 rows affected.

[('JavaScriptia', 33),
 ('Luciérnagas', 25),
 ('Pythonia', 26),
 ('MaCdonia', 15),
 ('FEDRA', 19),
 ('Carroñeros', 23)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [157]:
%%sql

/* selecciona el nombre de la faccion en la tabla facciones, relaciona con un  JOIN el id con la tabla persona_pertenece_faccion, selecciona el id_persona en la tabla persona_pertenece_faccion para 
relacionarlo a la tabla personas mediante otro JOIN, relaciona el id en personas con la tabla persona_tiene_trabajo utilizando un JOIN despues haciendo uso de otro JOIN encontraremos el nombre del trabajo 
y hacerlo consecutivo con ROW NUMBER para asignar un número a cada fila, lo que permite la selección de la fila con el trabajo más común para cada facción.*/

SELECT nombre, nombre_trabajo
FROM (
  SELECT facciones.nombre, trabajos.nombre AS nombre_trabajo,
    ROW_NUMBER() OVER (
      PARTITION BY facciones.id
      ORDER BY COUNT(*) DESC
    ) AS rn
  FROM facciones
  JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
  JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
  JOIN persona_tiene_trabajo ON personas.id = persona_tiene_trabajo.id_persona
  JOIN trabajos ON persona_tiene_trabajo.id_trabajo = trabajos.id
  GROUP BY facciones.id, trabajos.id
) t
WHERE rn = 1
ORDER BY nombre;

 * postgresql://postgres:***@localhost:5432/tarea1r
6 rows affected.

[('Carroñeros', 'Militar'),
 ('FEDRA', 'Médico'),
 ('JavaScriptia', 'Cajero'),
 ('Luciérnagas', 'Cremador'),
 ('MaCdonia', 'Cerrajero'),
 ('Pythonia', 'Profesor')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [133]:
%%sql

/* con los JOIN hacemos relacion entre las facciones y las personas mediante persona_pertenece_faccion, con JOIN e id de personas con sus cuentas_bancarias y 
con SUM la suma total de los saldos de esta relacion */

SELECT facciones.nombre as faccion, SUM(cuentas_bancarias.saldo) as saldo
FROM facciones
INNER JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
INNER JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
INNER JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona
GROUP BY facciones.id;

 * postgresql://postgres:***@localhost:5432/tarea1r
6 rows affected.

[('Pythonia', 15294),
 ('JavaScriptia', 24029),
 ('Carroñeros', 33277),
 ('FEDRA', 12964),
 ('MaCdonia', 29446),
 ('Luciérnagas', 19417)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [134]:
%%sql

/*JOIN entre cuentas bancarias e id de personas, cuenta la cantidad de cuentas que tengan el mismo banco y el saldo de estas cuentas con COUNT Y SUM respectivamente*/


SELECT cuentas_bancarias.banco, COUNT(cuentas_bancarias.id) as cantidad, SUM(cuentas_bancarias.saldo) as saldo
FROM cuentas_bancarias
INNER JOIN personas ON personas.id = cuentas_bancarias.id_persona
GROUP BY cuentas_bancarias.banco;

 * postgresql://postgres:***@localhost:5432/tarea1r
10 rows affected.

[('Banco Consorcio S.A', 10, 53596),
 ('Banco de la Nación S.A', 10, 46073),
 ('Banco Santander SpA', 15, 83836),
 ('Banco Pythonia S.A', 17, 79616),
 ('FedraBank S.A', 10, 44523),
 ('Banco BBVA', 7, 34347),
 ('Banco BCI SpA', 11, 62806),
 ('Banco Estado SpA', 17, 61369),
 ('Banco Pedrito Pascal SpA', 13, 81909),
 ('Banco Scotiabank', 10, 45383)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [135]:
%%sql

/* desde la tabla facciones seleccionamos el atributo nombre y relacionarlo con la tabla persona_pertenece_faccion asi relacionar el id_persona utilizando un JOIN con la tabla personas. relacionamos el id de la persona 
con la tabla cuentas_bancarias haciendo uso de un JOIN para asi obtener el atributo banco. utilizamos la condicion WHERE para filtrar cada faccion y limitamos usando LIMIT el resultado para mostrar el primero del orden DESC */

SELECT facciones.nombre AS faccion, (
SELECT cuentas_bancarias.banco
FROM persona_pertenece_faccion
JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona
WHERE persona_pertenece_faccion.id_faccion = facciones.id
GROUP BY cuentas_bancarias.banco
ORDER BY COUNT(*) DESC
LIMIT 1
) AS banco
FROM facciones
    *

 * postgresql://postgres:***@localhost:5432/tarea1r
6 rows affected.

[('FEDRA', 'Banco Consorcio S.A'),
 ('Luciérnagas', 'Banco BCI SpA'),
 ('Carroñeros', 'Banco Scotiabank'),
 ('Pythonia', 'Banco Pythonia S.A'),
 ('MaCdonia', 'Banco Estado SpA'),
 ('JavaScriptia', 'Banco de la Nación S.A')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [138]:
%%sql

/* con JOIN relacionamos las tablas de personas con persona_pertenece_faccion y con facciones, para comparar aquellas id.personas que se relacionaran con 2 o mas facciones utilizando HAVING para condicionar
COUNT para contar las relaciones y DISTINCT para asegurarse que fueran distintas facciones */

SELECT personas.id, personas.nombre, SPLIT_PART(apellidos, ' ', 2) AS apellido
FROM personas
JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
JOIN facciones ON persona_pertenece_faccion.id_faccion = facciones.id
GROUP BY personas.id, personas.nombre, apellido
HAVING COUNT(DISTINCT facciones.id) > 1;

 * postgresql://postgres:***@localhost:5432/tarea1r
39 rows affected.

[(19, 'Houston', 'Bowman'),
 (43, 'Gregory', 'Lineberger'),
 (44, 'Brenda', 'Martinez'),
 (95, 'Clifford', 'Jantzen'),
 (96, 'Lilly', 'Villa'),
 (152, 'Judith', 'Lofty'),
 (154, 'Ben', 'Goodale'),
 (169, 'Claire', 'Hyde'),
 (194, 'Mary', 'Milligan'),
 (199, 'Hattie', 'Rivera'),
 (224, 'Pat', 'Heber'),
 (251, 'Cody', 'Steiner'),
 (316, 'Lucille', 'Saunders'),
 (321, 'Wendy', 'Filipiak'),
 (334, 'Elena', 'Mozie'),
 (366, 'Ira', 'Miller'),
 (378, 'Gerardo', 'Williams'),
 (380, 'Howard', 'Corrigan'),
 (484, 'James', 'Lopez'),
 (488, 'Warren', 'Gonzalez'),
 (505, 'Shawn', 'Miles'),
 (517, 'Jerry', 'Richardson'),
 (572, 'Paula', 'Wilson'),
 (602, 'Amber', 'Gardner'),
 (620, 'Candace', 'Gutierrez'),
 (628, 'Gertrude', 'Pamperin'),
 (651, 'Juan', 'Diehl'),
 (653, 'William', 'Miller'),
 (660, 'Johnny', 'Flowers'),
 (662, 'Marjorie', 'Strasser'),
 (698, 'Dewayne', 'Kay'),
 (747, 'Savannah', 'Morin'),
 (775, 'Marie', 'Sevick'),
 (839, 'Maureen', 'Klemm'),
 (878, 'Evelyn', 'Smith'),
 (897, 'William', 'Tonge'),
 (955, 'Joshua', 'Pittman'),
 (963, 'Rich', 'Parado'),
 (996, 'Octavia', 'Chin')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [153]:
%%sql

/* separamos con las temporales a y b las distintas relaciones que se hace con el JOIN con su misma tabla personas para obtener el nombre y su conyugue.
Condicionamos con WHERE los NO NULOS y que el id fuera menor para asegurarse que no se repitieran */


SELECT DISTINCT a.nombre AS nombre_1, a.apellidos AS apellidos_1, b.nombre AS nombre_2, b.apellidos AS apellidos_2
FROM personas a
JOIN personas b ON a.conyugue = b.id
WHERE a.conyugue IS NOT NULL AND a.id < b.id;

 * postgresql://postgres:***@localhost:5432/tarea1r
84 rows affected.

[('Carol', 'Cordell Bayless', 'Christina', 'Carr Garnica'),
 ('Melody', 'Jones Ide', 'Valerie', 'Wilcoxen Stewart'),
 ('Kevin', 'Lopez Johnson', 'Patricia', 'Mcclellan Duke'),
 ('Ebony', 'Carrillo Reynolds', 'Olga', 'Rahm Lewis'),
 ('Patricia', 'Pollak Buff', 'Kevin', 'Reynolds Graziano'),
 ('Michael', 'Dang Stone', 'Kelly', 'Smith Mckeeman'),
 ('Brian', 'Riley Cobb', 'Jonathan', 'Nagy Mahler'),
 ('Lucy', 'Dollar Williams', 'Jean', 'Pawlak Trujillo'),
 ('Julie', 'Hammond Varrone', 'Julie', 'Walden Foss'),
 ('Wanda', 'Ryder Gomez', 'Billy', 'Baker Waldrup'),
 ('Houston', 'Boehm Bowman', 'Lenny', 'Anderson Brinton'),
 ('Sally', 'Fedele Coleman', 'Tabatha', 'Teeter Barnett'),
 ('Tony', 'Pettis Feller', 'Juan', 'Hanley Diehl'),
 ('Sandra', 'Thigpen Edwards', 'Linda', 'Clifton Driever'),
 ('Sean', 'Zabinski Dyson', 'Edith', 'Dusseault Daub'),
 ('David', 'Farmer Chamberlain', 'Gregory', 'Carter Forrest'),
 ('Roland', 'Breden Hale', 'Betty', 'Stidham Wright'),
 ('Ricky', 'Carr Benton', 'Phillip', 'Carolin King'),
 ('Valerie', 'Krause Onisick', 'Michael', 'Womack Sones'),
 ('Lois', 'Deveau Venson', 'Melvin', 'Martineau Porter'),
 ('Lawrence', 'Hall Singer', 'Ann', 'Hackett Upton'),
 ('Barbara', 'Black Guzman', 'Dolores', 'Bradley Eldridge'),
 ('Grace', 'Vanscoy Stclair', 'Arthur', 'Lester Hill'),
 ('Charles', 'Davis Kirkpatrick', 'Joyce', 'Mcgillivray Smith'),
 ('Henry', 'Petersen Malveaux', 'Todd', 'Figueroa Ovando'),
 ('Joshua', 'Gibson Mowery', 'Carina', 'Marcy Gonzales'),
 ('Beth', 'Allison Schneider', 'Michael', 'Brown Lam'),
 ('Julia', 'Jehle Carter', 'Judith', 'North Morales'),
 ('Alma', 'Coles Jacquier', 'Daren', 'Spain Granstrom'),
 ('Robert', 'Hobbs Phelps', 'Joseph', 'Brooks Grove'),
 ('Albert', 'Penderel Skeete', 'Jeffrey', 'Edge Burns'),
 ('Brian', 'Kratz Merritt', 'Jennifer', 'Peach Curtis'),
 ('Delfina', 'Kendall Morgan', 'Kirstin', 'Oddo Wilson'),
 ('Jason', 'Pena Bundick', 'Charlie', 'Sirois Roberts'),
 ('Robert', 'Moran Marsh', 'Vicki', 'Elliott Calaf'),
 ('Julianna', 'Shannon Newstead', 'Rebecca', 'Roach Baker'),
 ('Latanya', 'Enstad Kinnear', 'Ellen', 'Law Severy'),
 ('Carlo', 'Suttle Friend', 'Mary', 'Martin Marshall'),
 ('Roger', 'Mccandless Johnson', 'Sonia', 'Byrne Smith'),
 ('Debbie', 'Burton Foltz', 'Kai', 'Templeton Curcio'),
 ('Ira', 'Logan Miller', 'Rose', 'Hartsfield Pedroza'),
 ('Brenda', 'Anderson Prewitt', 'Jessie', 'Bichler Richmond'),
 ('Jared', 'Foersterling May', 'Christopher', 'Wilson Milam'),
 ('Bud', 'Headrick Bliss', 'Kelly', 'Woods Tousignant'),
 ('Natalie', 'Masri Bourdier', 'Olive', 'Martin Bealer'),
 ('Pablo', 'Mittendorf Soper', 'Howard', 'Creamer Corrigan'),
 ('Marlene', 'Sasaki Preston', 'Rhonda', 'Hernandez Slaughter'),
 ('Rosa', 'Burnham Ford', 'Alexa', 'Wade Jones'),
 ('Gloria', 'Selvester Reed', 'Scott', 'Grupe Negron'),
 ('Marcia', 'Gregory Richards', 'Richard', 'Pack Gaines'),
 ('Jenny', 'Musick Harris', 'Cedric', 'Principato Shaikh'),
 ('Viola', 'Dye Peterman', 'David', 'Lanning Turner'),
 ('Earl', 'Cuomo Malm', 'James', 'Lewicki Quintero'),
 ('Terry', 'Chivers Schneider', 'Ann', 'Bratcher Richard'),
 ('Leslie', 'Grove Chavez', 'Christopher', 'Alves Lawson'),
 ('Brenda', 'Palacios Elwell', 'Rosario', 'Calaf Walken'),
 ('Kathleen', 'Snyder Wooden', 'Scott', 'Waage Beckner'),
 ('Vi', 'Breece Mitchell', 'Gerardo', 'Hill Williams'),
 ('Christine', 'Russell Burton', 'Jennifer', 'Oneill Wingate'),
 ('Greg', 'Kelley Goldstein', 'Edward', 'Edwards Coatney'),
 ('Mary', 'Todd Tyler', 'Sherry', 'Webb Jones'),
 ('Pat', 'Cain Heber', 'Michael', 'Valencia Dickerson'),
 ('Stephanie', 'Fulton Williams', 'Tammy', 'Ford Bukhari'),
 ('Julia', 'Martinez Torres', 'Robert', 'Rosado Fowler'),
 ('Jana', 'Mardis Creighton', 'Linda', 'Stubbs Gove'),
 ('Amanda', 'Field Gotch', 'Donald', 'Bledsoe Shurman'),
 ('Lani', 'Harris Rose', 'James', 'Lanser Fisher'),
 ('James', 'Webster Hatcher', 'Sherry', 'Chamberlin Wise'),
 ('Chris', 'Keen Mccleave', 'Larry', 'Scharf Osborne'),
 ('Hattie', 'Flickner Rivera', 'Judith', 'Jemison Gomez'),
 ('Robert', 'Barron Hardwick', 'Edwin', 'Witters Cox'),
 ('Mack', 'Wessells Oldham', 'Todd', 'Townsend Valerio'),
 ('Maryanne', 'Allen Parker', 'Shirley', 'Hernandez Becker'),
 ('Steven', 'Santos Parmenter', 'Kathy', 'Teal Fournier'),
 ('April', 'Bell Hunter', 'Carlos', 'Scott Allison'),
 ('Audrey', 'Weaver Barnes', 'Gary', 'Wilson Vu'),
 ('Nicholas', 'Griffin Ruiz', 'Barbara', 'Hernandez Bell'),
 ('Joe', 'Harrell Diss', 'Thomas', 'Culbertson Moore'),
 ('William', 'Hogan Almaraz', 'Vilma', 'Bemis Wyndham'),
 ('Margaret', 'Trott Matherne', 'Nancy', 'Mcgee Soldner'),
 ('Sonia', 'Gutoski Herrmann', 'Jack', 'Hernandez Hayden'),
 ('Jerrie', 'Claiborne Mcknight', 'Ann', 'Cullens Harris'),
 ('William', 'Hollins Daise', 'Aaron', 'Tucker Edson'),
 ('Albert', 'Carter Vaux', 'Lea', 'Chien Alston')]